<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <File name="File" fileName="log/log4j.log" append="false">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%10.10t] %-5level %msg%n"/>
    </File>
    <Console name="Console">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%10.10t] %-5level %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="DEBUG">
      <AppenderRef ref="File"    level="DEBUG"/>
      <AppenderRef ref="Console" level="INFO"/>
    </Root>
  </Loggers>
</Configuration>
